<ion-view hide-nav-bar="true">
  <ion-content class="main" has-header="false">
      <img class="rubberBand animated" src="img/izie-white.png">
  </ion-content>

  <ion-footer-bar class="main-footer">
    <button class="button-footer" ng-click="onList()">Clientes IZIE</button>
  </ion-footer-bar>

</ion-view>
