.main {
  background: url("../img/background.jpg");
  background-repeat:no-repeat;
  background-position:center;

  img {
    position: absolute;
    width: 200px;
    top: 90px;
    margin-left: -100px;
    left: 50%;
    z-index: 1;
    max-width: initial;
    max-height: initial;
  }
}

.main-footer {
  padding: 0;
  height: 60px;
  background-color: #b7b7b7;

  .button-footer {
    width: 100%;
    height: 60px;
    font-size: 15px;
    color: $light;
    text-transform: uppercase;
    border: 0;
    background-color: $calm;

    &.save {
      background-color: #11c1f3;
    }

    &.cancel {
      background-color: #ef473a;
    }

    &.activated {
      background-color: #CCC;
      color: #4d4d4d;
    }
  }
}
