/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "app.main";
@import "user/app.user.list";
@import "user/app.user.create";

.bar.bar-stable {
  background-color: #2F3C50;
  height: 50px;

  .title {
    margin-top: 3px;
    color: #FFF;
  }

  .button.button-clear {
    color: #FFF;
  }
}


.empty-data {
  padding-top: 130px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: #b7b7b7;

  .empty-icon {
    background-color: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin: auto;

    span {
      background-position: center;
      font-size: 25px;
    }
  }

  .empty-text {
    padding-top: 5px;
  }
}