.create-user {
  .cam-user {
    height: 100px;
    background: #273345 url("../img/gplay.png");
    background-repeat:repeat;
    background-position:center;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;

    .image-user {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 4px solid #FFF;
      margin: auto;
      top: 51px;
      background: #11c1f3 url("../img/camera-icon.png");
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: center;

      img {
        width: 90px;
        border-radius: 50%;
      }
    }
  }

  .text-instructions {
    padding: 5px;
    font-size: 13px;
    margin-bottom: 3px;
    color: #CCC;
    text-align: center;
  }

  .list-address {
    padding: 10px;
    background-color: #F1F1F1;
    min-height: 150px;

    .btn-add-address {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      padding: 10px;
      background-color: #387ef5;
      font-size: 20px;
      border: 0;
      color: #FFF;
      position: fixed;
      right: 15px;
      top: 495px;
      z-index: 999999;
      box-shadow: 1px 2px 7px #abaeb2;
    }
  }

  .form-address {
    margin-top: 55px;
  }

  .empty-data {
    padding-top: 30px;
    font-size: 15px;
  }

  .list-address-box {
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 4px;

  }
}
