
<ion-view>
    <div class="bar bar-header bar-calm">
        <h1 class="title">Adicionar Endereço</h1>
    </div>

    <ion-content class="create-user">
        <div class="form-address"> </div>

        <div class="list">

            <label class="item item-input item-stacked-label">
                <span class="input-label">CEP</span>
                <input type="text"
                       placeholder="digite seu CEP"
                       ng-model="address.cep"
                       ui-br-cep-mask>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Endereço</span>
                <input type="text"
                       placeholder="digite seu endereço"
                       ng-model="address.endereco"
                        maxlength="255">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Complemento</span>
                <input type="text"
                       placeholder="digite seu endereço"
                       ng-model="address.complemento"
                       maxlength="100">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Número</span>
                <input type="number"
                       placeholder="digite o número"
                       ng-model="address.numero"
                       maxlength="4">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Estado</span>
                <input type="text"
                       placeholder="digite seu estado"
                       ng-model="address.estado"
                       maxlength="2">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Município</span>
                <input type="text"
                       placeholder="digite seu município"
                       ng-model="address.municipio"
                       maxlength="255">
            </label>

        </div>
    </ion-content>

    <ion-footer-bar class="main-footer">
        <button class="button-footer cancel" ng-click="onCancelar()">CANCELAR</button>
        <button class="button-footer" ng-click="onSaveAddress()">ADICIONAR</button>
    </ion-footer-bar>
</ion-view>