<ion-view title="Cadastro" ng-init="initial()">
  <ion-content class="create-user">
    <div class="cam-user">
      <div ng-click="onCamera()" class="image-user">
         <img ng-if="getImage()" ng-src="{{getImage()}}">
      </div>
    </div>
    <div class="text-instructions">
      Senhor(a) cliente, todos os campos são de preenchimento obrigatório.
    </div>
    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text"
               placeholder="digite seu nome completo"
               ng-maxlength="255"
               max="255"
               ng-model="form.nome">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Data de Nascimento</span>
        <input type="date" ng-model="form.nascimento" format="YYYY-MM-DD" placeholder="Selecione seu nascimento"/>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Sexo
        </div>
        <select ng-model="form.sexo">
          <option value=""> selecione o sexo</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">CPF</span>
        <input type="text" placeholder="digite seu CPF" ng-model="form.cpf" ui-br-cpf-mask>
      </label>

    </div>

    <div class="text-instructions">
      Adicione seu endereço, poderá adicionar um ou mais se necessário clicando no ícone abaixo.
    </div>

    <div class="list-address">
      <button class="btn-add-address" ng-click="addAddress()"><span class="icon ion-plus"></span></button>

      <div class="empty-data" ng-if="listAddress.length === 0">
        <div class="empty-icon"><span class="icon ion-alert"></span></div>
        <div class="empty-text">Não há endereços cadastrados</div>
      </div>

      <div ng-if="listAddress.length > 0" class="list-address-box">
        <ion-list>
          <ion-item class="item" ng-repeat="item in listAddress">
            <h2>{{item.endereco}} - {{item.municipio}} / {{item.estado}}</h2>
            <p><strong>CEP:</strong> {{item.cep}} . <strong>Nº:</strong> {{item.numero}} . Comp.:</strong> {{item.complemento}}</p>
            <ion-option-button class="button-assertive icon ion-trash-a" ng-click="onDelete($index)"></ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="main-footer">
    <button class="button-footer save" ng-click="onSave()">SALVAR</button>
  </ion-footer-bar>
</ion-view>
