<ion-view title="Clientes" ng-init="initial()">
  <ion-content class="list-user">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Pesquise clientes" ng-model="search">
      </label>
    </div>

    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="item in listUser | filter : search " class="item item-avatar " href="#/user/update/{{item.id}}">
        <img src="{{item.imagem}}">
        <h2>{{item.nome}}</h2>
        <p><strong>Nascimento:</strong> {{item.nascimento | date: "dd/MM/yyyy" }}</p>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="onDelete(item.id)"></ion-option-button>
      </ion-item>
    </ion-list>

    <div class="empty-data" ng-if="listUser.length === 0">
      <div class="empty-icon"><span class="icon ion-alert"></span></div>
      <div class="empty-text">Não há clientes cadastrados</div>
    </div>

  </ion-content>

  <ion-footer-bar class="main-footer">
    <ion-floating-menu menu-color="#387ef5" menu-open-color="#11c1f3">
      <ion-floating-item button-color="#11c1f3" icon="ion-person" click="onCreate()"></ion-floating-item>
      <ion-floating-item button-color="#11c1f3" icon="ion-home" click="onHome()"></ion-floating-item>
    </ion-floating-menu>
  </ion-footer-bar>
</ion-view>
